html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    background-color: #4A4E69;
    color: #F2E9E4;
}
table {
    width: 100%;
}
td {
    padding-right: 10px;
}
#calendar {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: #22223B;
}
#calendar td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#calendar-today {
    font-size: 1.5em;
    padding: 30px 10px 0;
}
#calendar-today table {
    font-size: 2em;
}
#calendar-today .time {
    width: 30%;
}
#calendar-today .empty {
    padding-left: 30px;
}
#calendar-next {
    font-size: 1.5em;
    padding: 0 10px;
}
#calendar-next table {
    font-size: 1.5em;
}
#calendar-next .date {
    font-size: 0.7em;
}
#calendar-next .time {
    float: left;
    width:20%;
}
#calendar-next .summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#common {
    position: fixed;
    right: 0;
    width: 35%;
    height: 100%;
}
#common .time {
    padding: 30px 10px 0;
    text-align: center;
    font-size: 6em;
}
#common .date {
    padding: 0 10px;
    text-align: center;
    font-size: 3em;
}
