html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    background-color: #272727;
    color: #ADADAD;
}
label {
    font-size: 18px;
}
#calendar {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: #151515;
}
#calendar-today {
    padding: 0 10px;
    font-size: 36px;
}
#calendar-today .empty {
    padding-left: 36px;
}
#calendar-next {
    font-size: 22px;
    padding: 0 10px;
}
#calendar-next .date {
    font-size: 16px;
}
#calendar .time {
    float: left;
    width:20%;
}
#calendar .summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#common {
    position: fixed;
    right: 0;
    width: 35%;
    height: 100%;
}
#common .time {
    padding: 0 10px;
    text-align: center;
    font-size: 72px;
}
#common .date {
    padding: 0 10px;
    text-align: center;
    font-size: 36px;
}

#common-weather .main {
    font-size: 40px;
    text-align: center;
}
#common-weather td.label {
    padding-left: 10px;
    width: 160px;
}
