html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    background-color: #272727;
    color: #ADADAD;
}
/* night mode */
.night {
    opacity: .6;
}

#wifi {
    position: fixed;
    right: 10px;
    top: 5px;
    z-index: 25;
    font-size: 30px;
    color: red;
}
#wifi.ok {
    color: green;
}
label {
    font-size: 18px;
}
#calendar {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: #151515;
}
#calendar-today {
    padding: 0 10px;
    font-size: 36px;
}
#calendar-today .empty {
    padding-left: 36px;
}
#calendar-next {
    font-size: 22px;
    padding: 0 10px;
}
#calendar-next .date {
    font-size: 16px;
}
#calendar .time {
    float: left;
    width:30%;
}
#calendar .summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#common {
    position: fixed;
    right: 0;
    width: 35%;
    height: 100%;
}
#common .time {
    padding: 0 10px;
    text-align: center;
    font-size: 72px;
}
#common .date {
    padding: 0 10px;
    text-align: center;
    font-size: 36px;
}

#common-weather {
    text-align: center;
}
#common-weather .main {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
#common-weather .main .icon {
    margin-left: 20px;
}
#common-weather .meta {
    color: #888;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#common-weather .meta .wi {
    font-size: 40px;
    margin-right: 10px;
}
#common-weather .meta.wind {
    width: 100%;
}
