html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
}
table {
    width: 100%;
}
#calendar {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: red;
}
#calendar-today {
    background-color: yellow;
    min-height: 150px;
    font-size: 1.5em;
    padding: 30px 10px;
}
#calendar-today table {
    font-size: 2em;
}
#calendar-today .time {
    width: 30%;
}
#calendar-next {
    font-size: 1.5em;
    padding: 30px 10px;
}
#calendar-next table {
    font-size: 1.5em;
}
#calendar-next .date {
    width: 30%;
}
#calendar-next .time {
    width:20%;
}
#common {
    position: fixed;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: green;
}
#common-time {
    padding: 30px 10px;
    text-align: center;
    height: 150px;
    font-size: 7em;
    background-color: orange;
}
#common-date {
    padding: 30px 10px;
    background-color: coral;
    text-align: center;
    font-size: 3.5em;
}
