<label>Demn&auml;chst</label>
<table>
<%
if (events.length) {
    var lastDate;
    _.each(events, function(event) {
        var currentDate = event.get("day") + "." + event.get("month"),
            eventDate = "";

        if (lastDate != currentDate) {
            lastDate = currentDate;
            eventDate = lastDate;
        }
%>
    <tr data-id="<%= event.id %>">
        <td class="date"><%= eventDate %></td>
        <% if (event.get("time")) { %>
            <td class="time"><%= event.get("time") %></td>
            <td><%- event.get("summary") %></td>
        <% } else { %>
            <td colspan="2"><%- event.get("summary") %></td>
        <% } %>
    </tr>

<%
    })
}
%>
</table>
