<label>Demn&auml;chst</label>
<table>
<%
if (events.length) {
    var eventsToShow = _.groupBy(events, function(model) {
        return moment(model.get("start")).format("DD.MM.YYYY");
    });

    _.each(eventsToShow, function(eventsByDay, eventDate) {
        var eventDateToTime = new Date(Number(eventDate));
%>

    <div class="events-by-day">
        <div class="date">
            <%- moment(eventDate, "DD.MM.YYYY").format("DD.MM") %>
        </div>

        <% _.each(eventsByDay, function(event) { %>
        <div data-id="<%= event.id %>" style="color: <%- event.get('color') %>">
            <% if (!event.get("wholeDay")) { %>
                <div class="time">
                    <%= moment(event.get("start")).format("HH:mm") %> - <%= moment(event.get("end")).format("HH:mm") %>
                </div>
            <% } %>
            <div class="summary"><%- event.get("summary") %></div>
        </div>
        <% }) %>

    </div>
<%
    })
}
%>
</table>
