<div class="main">
    <i class="wi wi-thermometer"></i>
    <%= main.temp %><i class="wi wi-celsius"></i>
    <i class="icon wi wi-owm-<%-dayTime %>-<%= weather[0].id %>"></i>
</div>

<div class="meta humidity">
    <i class="wi wi-humidity"></i>
    <%= main.humidity %> %
</div>

<div class="meta wind">
    <i class="wi wi-wind from-<%= wind.deg %>-deg"></i>
    <i class="wi wi-wind-beaufort-<%- Math.round(Math.pow((wind.speed / 0.836), 2/3)) %>"></i>
</div>

<div class="meta sunrise">
    <i class="wi wi-sunrise"></i>
    <%- moment(sys.sunrise).format("HH:mm") %>
</div>

<div class="meta sunset">
    <i class="wi wi-sunset"></i>
    <%- moment(sys.sunset).format("HH:mm") %>
</div>
